/* Overrides */
.logo-img {
  float: none;
  margin-right: 0;
}
/* End Overrides */

/* Default CSS */
.ca-addtoany-feature { float: right; }
#block-worxco-footer-worxco-footer { text-align: center; }
/* End Default CSS */